<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: adminNavigation"></nav>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="p-3 mb-2 bg-light text-black">
                <form action="/admin/employee" method="post">
                    <input type="hidden"  name="id" th:value="${employee.id}" class="form-control"/>

                    <table class="table">
                        <tr>
                            <th>Employee Id</th>
                            <td th:text="${employee.userDetails.id}"></td>
                        </tr>
                        <tr>
                            <th>Employee Name</th>
                            <td th:text="${employee.userDetails.firstName}"></td>
                        </tr>

                        <tr>
                        <th> Project</th>
                            <td><select name="projectId">
                                <option th:each="project : ${projects}"
                                        th:value="${project.id}"
                                        th:text="${project.projectName}"
                                ></option>
                            </select></td>
                        </tr>
                    <tr>
                        <td><input type="submit" value="Add" class="btn btn-success"/></td>
                    </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

</body>
</html>