<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: adminNavigation"></nav>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="p-3 mb-2 bg-light text-black">
                <form action="/admin/assignProject" method="post">

                    <table class="table">
                        <tr>
                            <th> Employee</th>
                            <td><select name="id">
                                <option th:each="user : ${users}"
                                        th:value="${user.id}"
                                        th:text="${user.username}"
                                ></option>
                            </select></td>
                        </tr>
                        <tr>
                        <th> Project</th>
                            <td><select name="projectId">
                                <option th:each="project : ${projects}"
                                        th:value="${project.id}"
                                        th:text="${project.projectName}"
                                ></option>
                            </select></td>
                        </tr>
                    <tr>
                        <td><input type="submit" value="Add" class="btn btn-success"/></td>
                    </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

</body>
</html>