<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>Employee list</h1>
    <ul>
        <li>Employee1</li>
        <li>Employee2</li>
        <li>Employee3</li>
        <li>Employee4</li>
        <li>Employee5</li>
        <li>Employee6</li>
    </ul>
    <h1>All Projects</h1>


    <p th:unless="${projects} and ${projects.size()}">No Projects</p>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Project Name</th>
            <th>Project Manager</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tr th:each="project : ${projects}">
            <td th:text="${project.projectId}"></td>
            <td th:text="${project.projectName}"></td>
            <td th:text="${project.projectManager}"></td>
            <td th:text="${project.startDate}"></td>
            <td th:text="${project.endDate}"></td>
        </tr>

    </table>
</body>
</html>