<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: adminnavigation"></nav>
<h1>Employee list</h1>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Employee1</li>
    <li class="list-group-item">Employee2</li>
    <li class="list-group-item">Employee3</li>
    <li class="list-group-item">Employee4</li>
    <li class="list-group-item">Employee5</li>
    <li class="list-group-item">Employee6</li>
</ul>

</body>
</html>