<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: adminNavigation"></nav>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="p-3 mb-2 bg-light text-black">
                <h1>Employee list</h1>
                <ul class="list-group"  th:each="employee : ${employees}">
                    <li class="list-group-item" th:if="${employee.role.equals('employee')}"><a th:href="@{'/admin/view/' + ${employee.username}}"  th:text="${employee.username}"></a></li>
                </ul>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
</body>
</html>