<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: employeeNavigation"></nav>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="p-3 mb-2 bg-light text-black">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <td>Id</td>
                        <td th:text="${user.id}"></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td th:text="${user.username}"></td>
                    </tr>
                    <tr >
                        <td>Projects</td>
                        <td th:each="project:${projects}" th:if="${project.user.id == user.id}" th:text="${project.project.projectName}"></td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

</body>
</html>