<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div class="container">
    <div class="row">
        <div style="background-color:lightgray;border-right-style : solid;border-color:#0474bc">
            <div class="col" style="margin-top:210px">
                <div id="logo">
                    <div class="logo">Ba<span>ndhan</span> Consultancy Services</div>
                </div>
            </div>
        </div>
        <div class="p-3 mb-2 bg-light text-black">
            <div class="col" style="margin-top:100px;margin-left:100px">
            <h1>Login Form</h1>

            <form method="post">
                <div class="form-group">
                    <label th:for="username">Username
                        <input class="form-control" th:field="${loginFormDTO.username}">
                    </label>
                    <p class="error" th:errors="${loginFormDTO.username}"></p>
                </div>
                <div class="form-group">
                    <label>Password
                        <input class="form-control" th:field="${loginFormDTO.password}" type="password">
                    </label>
                    <p class="error" th:errors="${loginFormDTO.password}"></p>
                </div>
                <div class="form-group">
                    <label> Role
                        <input class="form-control" th:field="${loginFormDTO.role}" type="text">
                    </label>
                </div>

                <input type="submit" class="btn btn-primary" value="Log In" />
            </form>

            <p>Don't have an account? <a href="/register">Register for one.</a></p>
            </div>
        </div>
    </div>
</div>



</body>
</html>